<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>sideBar</title>
    <th:block th:fragment="common-header">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
                integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
        <link rel="stylesheet" href="/css/sidebar.css">
    </th:block>
</head>
<body>
<div class="headerTop" th:fragment="header">
    <header>
        <img class="logo" src="/images/logo.png" onclick="window.location.href='/'">
    </header>
</div>
<div th:fragment="sidebarFragment">
    <!--    사이드바 호출 버튼-->
    <button id="openSidebar" class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBothOptions"
            aria-controls="offcanvasWithBothOptions">☰
    </button>
    <!--    사이드바 div-->
    <div class="offcanvas offcanvas-start" style="width: 300px" data-bs-scroll="true" tabindex="-1"
         id="offcanvasWithBothOptions"
         aria-labelledby="offcanvasWithBothOptionsLabel">

        <!--        내비게이션-->
        <div class="offcanvas-header">
            <img id="logo" src="/images/logo.png"/>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!--        내비게이션 content-->
        <div class="offcanvas-body" style="padding: 0">
            <!-- 로그인 완료 상태 -->
            <div class="profile-btn-container">
                <button type="button" class="btn btn-primary" onclick="goMypage()" style="background-color:#5F9DF7">My
                    Page
                </button>
                <button type="button" class="btn btn-primary" onclick="goProfile()" style="background-color:#5F9DF7">
                    프로필
                </button>
                <button type="button" class="btn btn-primary" onclick="logout()" style="background-color:#5F9DF7">로그아웃
                </button>

            </div>

            <!-- 로그인 전 상태 -->
            <div class="login-btn-container">
                <button type="button" id="loginSignupBtn" class="btn btn-primary"
                        onclick="window.location.href='/login'">로그인/회원가입
                </button>
            </div>
            <!-- 채팅방 리스트-->
            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-header">채팅방</div>
                    <div class="accordion-content">

                    </div>
                </div>
            </div>
            <!-- 알림 리스트-->
            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-header2">알림</div>
                    <div class="accordion-content2">
                        <div class="alert-list"></div>
                    </div>
                </div>
            </div>
            <button onclick="test()">테스트</button>
            <script src="/js/sidebar.js"></script>
        </div>
    </div>
</div>

</body>


</html>