/* 공통 스타일 */
body {
    margin: 0;
    padding: 0;
    background-color: #FFF7E9;
}

/* 프로필 컨테이너 스타일 */
.profile-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 프로필 이미지 스타일 */
.profile-container img {
    float: left;
    margin-right: 10px;
}

/* 닉네임 스타일 */
.nickname {
    font-size: 18px;
    font-weight: bold;
}

/*  버튼 스타일 */
.profile-button, .leave-button {
    border: none;
    border-radius: 5px 5px 5px 5px; /* 버튼을 동그랗게 만듭니다. */
    background-color: #5F9DF7; /* 배경색 설정 */
    color: white; /* 글자색 설정 */
    padding: 10px 20px; /* 버튼 내부 여백 설정 */
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.profile-button:hover, .leave-button:hover {
    background-color: #007bff; /* 호버 시 배경색 변경 */
}

/* 탭 스타일 */
.tab-content {
    margin-top: 10px;
}

/* 리스트 스타일 */
ul {
    list-style: none;
    padding: 0;
}

/* 리스트 아이템 스타일 */
li {
    margin-bottom: 10px;
}

/* 유저 아이템 스타일 */
.interest-user, .blacklist-user, .post-title {
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

/* 마우스 오버 시 스타일 변경 */
.interest-user:hover, .blacklist-user:hover, .post-title:hover {
    color: #5F9DF7;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #333;
}