/*사이드바*/
#sidebar {
    width: 0;
    background-color: #333;
    color: gray;
    height: 100vh;
    position: fixed;
    transition: 0.5s;
    overflow: hidden;
}

#openBtn {
    /*position: absolute;*/
    top: 20px;
    left: 10px;
    cursor: pointer;
    display: block;
}

#closeBtn {
    display: block;
    /*position: absolute;*/
    top: 20px;
    left: 10px;
    cursor: pointer;
}

/*아코디언 스타일 메뉴바*/
.accordion {
    width: 300px;
    margin: 20px auto;
}

.accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.accordion-header {
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.accordion-content {
    padding: 10px;
    display: none;
}

.profile-btn-container, .login-btn-container {
    display: none;
}

.login-btn-container a {
    text-decoration: none;
    color: gray;
}