<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div id="chatRoom" class="chatRoom">채팅방 리스트

</div>
<script>
    // 해당 유저의 이름으로 id를 가져오고 그 아이디로 챗룸을 가져온다?
    let token = Cookies.get('Authorization');
    const payloads = JSON.parse(atob(token.split(".")[1]));
    const userAuth = payloads.sub;


    $.ajax({
        url: `/api/chat/getUsers/${userAuth}`, // 요청을 보낼 서버의 URL
        method: 'GET', // 요청 메소드 (GET, POST 등)
        success: function (response) {
            $.ajax({
                url: `/api/chat/users/${response}`, // 요청을 보낼 서버의 URL
                method: 'GET', // 요청 메소드 (GET, POST 등)
                success: function (response) {
                    console.log(response.chatRoomList.length)
                    console.log(response.chatRoomList[0].chatName);


                    if (response.chatRoomList.length == 0) {
                        // 해당 사용자가 속한 채팅방이 없다면
                        alert("채팅방 없음");
                    }

                    // 해당 사용자가 속한 채팅방이 있다면
                    for (var i = 0; i < response.chatRoomList.length; i++) {
                        $(`<div id="userChatRoom-${response.chatRoomList[i].id}" class="userChatRoom" onclick="chatRoom(${response.chatRoomList[i].id})">${response.chatRoomList[i].chatName}</div>`).appendTo(`.chatRoom`);
                    }

                },
                error: function (xhr, status, error) {
                    alert("불러오기 실패")
                    console.log(xhr);
                }
            });
        },
        error: function (xhr, status, error) {
            alert("불러오기 실패")
            console.log(xhr);
        }
    });

    function chatRoom(id) {
        window.location.href = `/api/users/chat?number=${id}`;
    }

</script>
</body>
</html>