<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Jquery, Cookie, sidebarCSS-->
    <th:block th:replace="~{fragments/sidebar::common-header}"></th:block>
    <title>willu</title>
    <style>
        #createPostButton {
            background-color: #FF731D;
            color: #fff; /* 버튼 텍스트 색상 (예: 흰색) */
            border: none; /* 테두리 없음 */
            padding: 10px 20px; /* 내부 여백 설정 */
            cursor: pointer; /* 커서 스타일을 포인터로 변경하여 클릭 가능하도록 함 */
            margin-left: 20px;
            border-radius: 5px;
            width: 20%;
        }

        .nav {
            align-content: center;
            width: 70%;
            min-height: 40px;
            float: right;
            height: fit-content;


        }

        .postbox {
            display: flex; /* 요소들을 가로로 배치하기 위한 설정 */
            flex-direction: row; /* 가로로 배치 (기본값은 row이므로 생략 가능) */
            /*justify-content: space-between; !* 요소들을 좌우로 분산 배치 *!*/
            align-items: center; /* 요소들을 수직 가운데 정렬 */
            justify-content: center;
        }

        #posts {
            width: 1100px;
            height: 650px;
            margin: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        }

        #category {
            width: 300px;
            height: 600px;
            /*margin: 50px;*/
            padding: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        a:hover {
            color: #f00;
        }

        #sideBarDiv {
            width: 200px;
            height: 100%;
        }

        .nav-list {
            display: flex; /* 요소들을 가로로 배치하기 위한 설정 */
            flex-direction: row; /* 가로로 배치 (기본값은 row이므로 생략 가능) */
            justify-content: space-between; /* 요소들을 좌우로 분산 배치 */
            align-items: center; /* 요소들을 수직 가운데 정렬 */
            margin: 40px auto;
            align-content: center;
            width: 70%;
            float: right;
            height: fit-content;

        }

        .table a {
            text-decoration: none; /* 밑줄 제거 */
            color: inherit; /* 기본 텍스트 색상으로 설정 */
        }

        .large {
            counter-reset: list-counter;
            list-style: none;
            float: left;
        }

        .large li {
            margin: 1.5em 0;
            line-height: 1em
        }

    </style>

</head>

<body>
<div id="headerDiv" th:insert="~{fragments/sidebar::header}"></div>
<div id="sideBarDiv" th:insert="~{fragments/sidebar::sidebarFragment}"></div>
<div class="postbox">
    <div id="posts">
        <div class="container my-3">
            <table class="table caption-top">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">제목</th>
                    <th scope="col">모집인원</th>
                    <th scope="col">모집여부</th>
                    <th scope="col">작성자</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>게시글 제목</td>
                    <td>2/5</td>
                    <td>모집중/모집완료</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--        추가한 내용-->
        <div class="nav">
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="pagination">
                    <li class="page-item" id="page-item1">
                    </li>
                    <li class="page-item" id="page-item2">
                    </li>

                    <!--                노드 들어갈곳-->

                    <li class="page-item" id="page-item3">
                    </li>
                    <li class="page-item" id="page-item4">
                    </li>
                </ul>
            </nav>
        </div>

        <div class="nav-list">
            <form id="searchForm">
                <select id="criteria">
                    <option value="title">제목</option>
                    <option value="nickname">작성자</option>
                    <option value="content">내용</option>
                </select>
                <input type="text" id="keyword" placeholder="검색어">
                <input type="checkbox" id="recruitment"> 모집 중인 게시글만
                <button type="submit">검색</button>
            </form>
            <button id="createPostButton">글 작성</button>
        </div>
    </div>

    <div id="category">
        <h5>태그별 모아보기✨</h5>
        <hr>
        <div>
            <input type="text" id="tagInput" placeholder="태그로 검색하세요">
            <button type="submit" onclick="tagSearch()">태그 검색</button>
            <input type="checkbox" id="recruitmentTag"> 모집완료글 포함
        </div>
        <ul class="large">

        </ul>
    </div>

</div>
</body>
<script>
    $(document).ready(function () {
        //게시글 전체 조회
        chPost(0);

        // 태그 리스트
        getTags();
    });

    // 게시글 필터 조회
    $("#searchForm").submit(function (event) {
        event.preventDefault(); // 폼 제출 기본 동작 방지

        getPostsInAllWay(0);
    });

    document.getElementById("createPostButton").addEventListener("click", function () {
        //쿠키 있으면 이동 없으면 로그인 페이지로
        let authorizationToken = getAuthorizationCookie();
        if (authorizationToken === null) {
            window.location.href = "/login";
        } else {
            window.location.href = "/post/create";
        }

    });

    function nodeCreateAll(totalPages, number) {

        if (number === 0) {
            // 첫페이지 일때
            $(`
                <a class="page-link" onclick="chPost(${totalPages - 1})" aria-label="Last">
                    <span aria-hidden="true">▶▶</span>
                </a>
            `).prependTo(`#page-item4`);

            $(`
                    <a class="page-link" onclick="chPost(${1})" aria-label="Next">
                        <span aria-hidden="true">▶</span>
                    </a>
            `).prependTo(`#page-item3`);

        } else if (number === totalPages - 1) {
            $(`
                <a class="page-link" onclick="chPost(${number - 1})" aria-label="Previous">
                    <span aria-hidden="true">◀</span>
                </a>
            `).prependTo(`#page-item2`);

            $(`
                <a class="page-link" onclick="chPost(${0})" aria-label="First">
                    <span aria-hidden="true">◀◀</span>
                </a>
            `).prependTo(`#page-item1`);

        } else if (number === totalPages - 1) {
            $(`
                <a class="page-link" onclick="chPost(${number - 1})" aria-label="Previous">
                    <span aria-hidden="true">◀</span>
                </a>
            `).prependTo(`#page-item2`);

            $(`
                <a class="page-link" onclick="chPost(${0})" aria-label="First">
                    <span aria-hidden="true">◀◀</span>
                </a>
            `).prependTo(`#page-item1`);

        } else {
            $(`
                <a class="page-link" onclick="chPost(${0})" aria-label="First">
                    <span aria-hidden="true">◀◀</span>
                </a>
            `).prependTo(`#page-item1`);

            $(`
                <a class="page-link" onclick="chPost(${number - 1})" aria-label="Previous">
                    <span aria-hidden="true">◀</span>
                </a>
            `).prependTo(`#page-item2`);

            $(`
                    <a class="page-link" onclick="chPost(${number + 1})" aria-label="Next">
                        <span aria-hidden="true">▶</span>
                    </a>
            `).prependTo(`#page-item3`);

            $(`
                <a class="page-link" onclick="chPost(${totalPages - 1})" aria-label="Last">
                    <span aria-hidden="true">▶▶</span>
                </a>
            `).prependTo(`#page-item4`);
        }
        // 중간 페이지 버튼을 만듭니다.
        var start = Math.max(0, number - 4);
        var end = Math.min(totalPages - 1, number + 4);

        for (var i = start; i <= end; i++) {
            var pageButton = $(`<li class="page-item" id="page-${i}"><a class="page-link" onclick="chPost(${i})">${i + 1}</a></li>`);
            if (i === number) {
                pageButton.addClass('active');
            }
            pageButton.insertBefore(`#page-item3`);
        }
    }

    function nodeCreate(totalPages, number) {
        if (number === 0) {
            // 첫페이지 일때
            $(`
                <a class="page-link" onclick="getPostsInAllWay(${totalPages - 1})" aria-label="Last">
                    <span aria-hidden="true">▶▶</span>
                </a>
            `).prependTo(`#page-item4`);

            $(`
                    <a class="page-link" onclick="getPostsInAllWay(${1})" aria-label="Next">
                        <span aria-hidden="true">▶</span>
                    </a>
            `).prependTo(`#page-item3`);

        } else if (number === totalPages - 1) {
            $(`
                <a class="page-link" onclick="getPostsInAllWay(${number - 1})" aria-label="Previous">
                    <span aria-hidden="true">◀</span>
                </a>
            `).prependTo(`#page-item2`);

            $(`
                <a class="page-link" onclick="getPostsInAllWay(${0})" aria-label="First">
                    <span aria-hidden="true">◀◀</span>
                </a>
            `).prependTo(`#page-item1`);

        } else {
            $(`
                <a class="page-link" onclick="getPostsInAllWay(${0})" aria-label="First">
                    <span aria-hidden="true">◀◀</span>
                </a>
            `).prependTo(`#page-item1`);

            $(`
                <a class="page-link" onclick="getPostsInAllWay(${number - 1})" aria-label="Previous">
                    <span aria-hidden="true">◀</span>
                </a>
            `).prependTo(`#page-item2`);

            $(`
                    <a class="page-link" onclick="getPostsInAllWay(${number + 1})" aria-label="Next">
                        <span aria-hidden="true">▶</span>
                    </a>
            `).prependTo(`#page-item3`);

            $(`
                <a class="page-link" onclick="getPostsInAllWay(${totalPages - 1})" aria-label="Last">
                    <span aria-hidden="true">▶▶</span>
                </a>
            `).prependTo(`#page-item4`);
        }
        // 중간 페이지 버튼을 만듭니다.
        var start = Math.max(0, number - 4);
        var end = Math.min(totalPages - 1, number + 4);

        for (var i = start; i <= end; i++) {
            var pageButton = $(`<li class="page-item" id="page-${i}"><a class="page-link" onclick="getPostsInAllWay(${i})">${i + 1}</a></li>`);
            if (i === number) {
                pageButton.addClass('active');
            }
            pageButton.insertBefore(`#page-item3`);
        }
    }


    function chPost(i) {
        $.ajax({
            url: `/api/posts?page=${i}&size=10`,
            type: 'GET',
            contentType: 'application/json',
            async: false
        }).then((response) => {

            $('#page-item1').empty();
            $('#page-item2').empty();
            $('#page-item3').empty();
            $('#page-item4').empty();
            $('#pagination').find($(`li[id^='page-']`)).empty();

            nodeCreateAll(response.totalPages, response.number);

            var tableBody = $('.table tbody');
            tableBody.empty();

            response.content.forEach(function (post) {
                createPostHTML(post);
            });
        }, () => {
            console.log("페이징 조회 실패");
        });
    }

    function createPostHTML(post) {
        var tableBody = $('.table tbody');
        var newRow = $('<tr>'); // 새로운 행 생성
        var idCell = $('<th scope="row">').text(post.id);
        var titleCell = $('<td>').append($('<a>').attr('href', '/posts/' + post.id).text(post.title));
        let content = getChatRoomUserInfo(post);
        var maxnumCell = $('<td>').text(content);
        var writerCell = $('<td>').text(post.nickname);
        var recruitmentText = post.recruitment ? "모집중" : "모집완료🎉";
        var recruitmentCell = $('<td>').text(recruitmentText);

        // 행에 셀들을 추가
        newRow.append(idCell, titleCell, maxnumCell, recruitmentCell, writerCell);
        tableBody.append(newRow);
    }

    //게시글 현재 인원 조회
    function getChatRoomUserInfo(post) {
        let value;
        $.ajax({
            url: `/api/chat/chatRooms/${post.id}/users`,
            type: 'GET',
            contentType: 'application/json',
            async: false,
            success: function (response) {
                value = response.chatRoomList.length + "/" + post.maxnum;
            },
            error: function () {
                value = post.maxnum;
            }
        });
        return value;
    }

    function getPostsInAllWay(i) {
        var keyword = $("#keyword").val();
        var criteria = $("#criteria").val();
        var recruitment = $("#recruitment").is(":checked");

        // 검색어가 비어있고 모집 상태가 true인 경우
        if (!keyword && recruitment) {
            keyword = ""; // 검색어를 빈 문자열로 설정
            criteria = ""; // 기준을 빈 문자열로 설정
        }

        performSearch(keyword, criteria, recruitment, i);
    }

    function performSearch(keyword, criteria, recruitment, page) {
        $.ajax({
            url: "/api/search/posts",
            type: "GET",
            async: false,
            data: {
                keyword: keyword,
                criteria: criteria,
                recruitment: recruitment,
                page: page,
                size: 10
            },
            success: function (response) {
                // 페이지 및 결과 표시를 담당하는 함수 호출
                displayResults(response, page);
            },
            error: function (xhr, status, error) {
                console.log("검색 실패");
            }
        });
    }

    function displayResults(response, page) {
        $('#page-item1').empty();
        $('#page-item2').empty();
        $('#page-item3').empty();
        $('#page-item4').empty();
        $('#pagination').find($(`li[id^='page-']`)).empty();

        // 검색용 페이지 버튼이 필요
        nodeCreate(response.totalPages, response.number);

        // 검색 결과를 화면에 표시
        var tableBody = $('.table tbody');
        tableBody.empty();

        response.content.forEach(function (post) {
            createPostHTML(post);
        });
    }
    // 게시글 태그별 조회
    function tagSearch(con) {
        var value;
        if (!con) {
            //값이 없을 때
            value = $('#tagInput').val()
        } else {
            value = con
        }
        //태그 모집완료 체크
        var recruitmentTag = $('#recruitmentTag').is(":checked");

        $.ajax({
            url: "/api/tag/search",
            type: "GET",
            async: false,
            data: {
                content: value,
                recruitmentTag: recruitmentTag
            },
            success: function (response) {
                $('#page-item1').empty();
                $('#page-item2').empty();
                $('#page-item3').empty();
                $('#page-item4').empty();
                $('#pagination').find($(`li[id^='page-']`)).empty();
                // 검색 결과를 화면에 표시
                var tableBody = $('.table tbody');
                tableBody.empty();
                response.content.forEach(function (post) {
                    console.log(post);
                    createPostHTML(post);
                });

                $('#tagInput').val('');
            },
            error: function (xhr, status, error) {
                alert("두글자이상 입력하지 않았거나 해당 태그를 가진 게시글이 없습니다.")
                chPost(0);
            }
        });

    }

    function getTags() {
        $.ajax({
            url: "/api/tag",
            type: "GET",
            async: false,
            success: function (response) {
                for (var i = 0; i < response.length; i++) {
                    $(`<li>
                        <a onclick="tagSearch('${response[i].tagName}')">${response[i].tagName}</a> : ${response[i].count}
                    </li>`).appendTo(`.large`);
                }
            },
            error: function (xhr, status, error) {
                alert("태그 불러오기 실패")
            }
        });
    }

</script>
</html>
