<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button id="login-kakao-btn" onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=dbbecd2046b9dd7965998b3f5bfdf389&redirect_uri=http://localhost:8080/api/users/kakao/callback&response_type=code'">
  카카오로 로그인하기
</button>
<button id="login-gogle-btn" onclick="location.href='https://accounts.google.com/o/oauth2/v2/auth?client_id=645290605461-1ckod7ph7k1frc1d0toaae3dkugm1vg5.apps.googleusercontent.com&redirect_uri=http://localhost:8080/api/users/login/oauth2/code/google&response_type=code&scope=email profile'">
    구글 로그인하기
</button>
<button id="login-naver-btn" onclick="location.href='https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=0St_ZZCyosLX1RyQHKhs&redirect_uri=http://localhost:8080/api/users/naver/callback&response_type=code;'">
    네이버 로그인하기
</button>
</body>
</html>