<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="/js/login.js"></script>
    <title>Title</title>
</head>
<body>
<button id="login-kakao-btn"
        onclick="kakaoLogin()">
    카카오로 로그인하기
</button>
<button id="login-google-btn"
        onclick="googleLogin()">
    구글 로그인하기
</button>
<button id="login-naver-btn"
        onclick="naverLogin()">
    네이버 로그인하기
</button>

<div>
    <input id="idInput" type="text"/>
    <input id="passInput" type="text"/>
    <button onclick="login()">사이트 로그인</button>
</div>
</body>
</html>