<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments/sidebar::common-header}"></th:block>
    <link rel="stylesheet" href="/css/profile.css">
    <title>프로필 페이지</title>
</head>
<body>
<div id="headerDiv" th:insert="~{fragments/sidebar::header}"></div>
<div id="sideBarDiv" th:insert="~{fragments/sidebar::sidebarFragment}"></div>
<div class="profile-container">
    <div class="profile-image">
        <img th:src="${user.picture}" alt="Profile Image" width="70" height="70" src="">
    </div>
    <div class="profile-details">
        <div class="nickname">
            <a th:text="${user.nickname}" class="navbar-brand">Nickname</a>
        </div>
        <div class="score">
            <span>점수: <span th:text="${userScore}"></span></span>
        </div>
    </div>
    <div class="edit-button">
        <button id="edit-profile-button">프로필 수정</button>
    </div>

    <!-- 후기 탭 추가 -->
    <ul class="nav nav-tabs" id="reviewTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="receive-tab" data-toggle="tab" href="#receive-reviews" role="tab">받은 후기</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="send-tab" data-toggle="tab" href="#send-reviews" role="tab">작성한 후기</a>
        </li>
    </ul>

    <!-- 후기 탭 내용 추가 -->
    <div class="tab-content" id="reviewTabContent">
        <div class="tab-pane fade show active" id="receive-reviews" role="tabpanel">
            <!-- 받은 후기 내용 -->
            <ul class="review-list">
                <li th:each="review : ${receiveReviews}">
                    <span th:text="${review.content}"></span>
                    <br>
                    <span class="review-details">
                    <span class="label">평점:</span>
                    <span th:text="${review.score}"></span>
                    <span class="label">작성자:</span>
                    <span th:text="${review.senderNickname}"
                          th:attr="data-user-id=${review.senderId}"
                          class="review"></span>
                </span>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade" id="send-reviews" role="tabpanel">
            <!-- 작성한 후기 내용 -->
            <ul class="review-list">
                <li th:each="review : ${sendReviews}">
                    <span th:text="${review.content}"></span>
                    <br>
                    <span class="review-details">
                    <span class="label">평점:</span>
                    <span th:text="${review.score}"></span>
                    <span class="label">받은 유저:</span>
                    <span th:text="${review.receiverNickname}"
                          th:attr="data-user-id=${review.receiverId}"
                          class="review"></span>
                </span>
                </li>
            </ul>
        </div>
    </div>

    <div id="edit-profile-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">프로필 수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="edit-image-form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="profile-image">프로필 이미지 업로드:</label>
                            <input type="file" id="profile-image" accept="image/*" class="form-control-file">
                        </div>
                        <button type="submit" class="btn btn-primary">저장</button>
                    </form>
                    <form id="edit-nickname-form">
                        <div class="form-group">
                            <label for="nickname">새로운 닉네임:</label>
                            <input type="text" id="nickname" name="nickname" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">저장</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/sidebar.js"></script>
<script>
    const editProfileButton = document.getElementById("edit-profile-button");
    const editProfileModal = document.getElementById("edit-profile-modal");
    const closeModal = document.querySelector(".close");

    editProfileButton.addEventListener("click", () => {
        editProfileModal.style.display = "block";
    });

    closeModal.addEventListener("click", () => {
        editProfileModal.style.display = "none";
    });

    window.addEventListener("click", event => {
        if (event.target === editProfileModal) {
            editProfileModal.style.display = "none";
        }
    });

    const editProfileForm = document.getElementById("edit-nickname-form");

    editProfileForm.addEventListener("submit", async event => {
        event.preventDefault();

        const newNickname = editProfileForm.nickname.value;

        try {
            const response = await fetch("/api/users", {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    nickname: newNickname
                })
            });

            if (response.ok) {
                // 성공적으로 수정되었을 때의 처리
                // 예: 모달 닫기 등
                editProfileModal.style.display = "none";
                window.alert("닉네임이 성공적으로 수정되었습니다.");
                location.reload();
            } else {
                // 서버로부터 실패 응답을 받았을 때의 처리
                // 예: 에러 메시지 표시 등
                console.error("프로필 수정 실패");
                window.alert("닉네임 수정이 실패했습니다.");

            }
        } catch (error) {
            // API 요청 중에 발생한 오류 처리
            console.error("API 요청 오류:", error);
        }
    });

    const editImageForm = document.getElementById("edit-image-form");
    const profileImageInput = document.getElementById("profile-image");

    editImageForm.addEventListener("submit", async event => {
        event.preventDefault();

        const formData = new FormData();
        formData.append("file", profileImageInput.files[0]);

        try {
            const response = await fetch("/api/image", {
                method: "POST",
                body: formData
            });

            if (response.ok) {
                // 이미지 업로드 성공 시의 처리
                // 예: 프로필 이미지를 업데이트하고 모달 닫기 등
                editProfileModal.style.display = "none";
                // window.alert("프로필 이미지가 성공적으로 업로드되었습니다.");
                location.reload();
            } else {
                // 이미지 업로드 실패 시의 처리
                // 예: 에러 메시지 표시 등
                console.error("프로필 이미지 업로드 실패");
                window.alert("프로필 이미지 업로드가 실패했습니다.");
            }
        } catch (error) {
            // API 요청 중에 발생한 오류 처리
            console.error("API 요청 오류:", error);
        }
    });

    const interestUsers = document.querySelectorAll('.review');
    interestUsers.forEach(user => {
        user.addEventListener('click', function (event) {
            const userId = event.target.getAttribute('data-user-id');
            window.location.href = `/users/profile/${userId}`; // 적절한 URL로 변경해야 함
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const sendTab = document.getElementById("send-tab");
        const receiveTab = document.getElementById("receive-tab");

        receiveTab.addEventListener("click", function (e) {
            e.preventDefault(); // 기본 링크 동작을 막음
            $(this).tab('show'); // 해당 탭을 활성화
        });

        sendTab.addEventListener("click", function (e) {
            e.preventDefault(); // 기본 링크 동작을 막음
            $(this).tab('show'); // 해당 탭을 활성화
        });
    });
</script>
</body>
</html>