<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sideBar</title>
</head>
<body>
<div th:fragment="sidebarFragment">
    <!--    사이드바 호출 버튼-->
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
            aria-controls="offcanvasWithBothOptions">☰
    </button>

    <!--    사이드바 div-->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
         aria-labelledby="offcanvasWithBothOptionsLabel">

        <!--        내비게이션-->
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">내비게이션</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!--        내비게이션 content-->
        <div class="offcanvas-body">
            <!-- 로그인 완료 상태 -->
            <div class="profile-btn-container">
                <span onclick="goProfile()">프로필</span>
                <span onclick="logout()">로그아웃</span>
            </div>

            <!-- 로그인 전 상태 -->
            <div class="login-btn-container">
                <span><a href="/view/users/user-login" style="text-decoration: none"
                         th:color="white">로그인/회원가입</a></span>
            </div>
            <!-- 채팅방 리스트-->
            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-header">채팅방리스트</div>
                    <div class="accordion-content">

                    </div>
                </div>
            </div>
            <!-- 알림 리스트-->
            <h2>알림 리스트</h2>
            <div class="alert-list"></div>

        </div>
    </div>

    <!--    <div id="sidebar">-->
    <!--        <h2>내비게이션</h2>-->
    <!--        <button id="closeBtn" onclick="openSidebar()">X</button>-->
    <!--        &lt;!&ndash; 로그인 완료 상태 &ndash;&gt;-->
    <!--        <div class="profile-btn-container">-->
    <!--            <span onclick="goProfile()">프로필</span>-->
    <!--            <span onclick="logout()">로그아웃</span>-->
    <!--        </div>-->
    <!--        &lt;!&ndash; 로그인 전 상태 &ndash;&gt;-->
    <!--        <div class="login-btn-container">-->
    <!--            <span><a href="/view/users/user-login" style="text-decoration: none" th:color="white">로그인/회원가입</a></span>-->
    <!--        </div>-->

    <!--        <div class="accordion">-->
    <!--            <div class="accordion-item">-->
    <!--                <div class="accordion-header">채팅방리스트</div>-->
    <!--                <div class="accordion-content">-->

    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <h2>알림 리스트</h2>-->
    <!--        <div class="alert-list"></div>-->
    <!--    </div>-->

    <!--    <div>-->
    <!--        <span id="openBtn" onclick="openSidebar()">☰</span>-->
    <!--    </div>-->
</div>
</body>
<script>
    showMyNotification();
    const eventSource = new EventSource(`/subscribe`);

    const eventList = $(".alert-list");
    let ntId;

    eventSource.onopen = e => {
        console.log("연결 완료");
        console.log(e);
    };

    eventSource.onmessage = e => {
        console.log(e.lastEventId);
        console.log("ON MESSAGE 실행");
        const {data: receivedConnectionData} = e;

        const jsonData = JSON.parse(receivedConnectionData);
        console.log(jsonData);
        ntId = jsonData.id;
        const nt = jsonData.notificationType;
        const title = jsonData.title;
        const content = jsonData.content;
        // e.lastEventId = ntId;

        if (nt !== "MAKE_CONNECTION") {
            const publisherId = jsonData.publisher.id;
            const postId = jsonData.postId;
            console.log("ntId: " + ntId);
            console.log("publisherId: " + publisherId);
            console.log("postId: " + postId);
            showNotification(content, nt, title, ntId);
            addNotificationHTML(content, nt, title, ntId, publisherId, postId);

        }
    }
    eventSource.onerror = error => {
        console.log("에러 발생");
        //eventSource.close();
    };

    //알림 허용 체크
    notifyMe();


    function goProfile() {
        window.location.href = "/profile";
    }

    function read(ntId) {
        $.ajax({
            url: `/api/notification/${ntId}`, // 요청을 보낼 서버의 URL
            method: 'PATCH', // 요청 메소드 (GET, POST 등)
            contentType: "application/json",
            success: function (response) {
                console.log("읽기 처리 완료");
                //TODO 알림이 포함된 HTML 지우기
                removeNotificationHTML(ntId);
            },
            error: function (xhr, status, error) {
                console.log("읽기 처리 실패");
            }
        });
    }

    function reject(ntId, postId, publisherId) {
        if (confirm("참가 요청을 거부하시겠습니까?")) {
            console.log("거부했습니다.");

            sendReject(ntId, postId, publisherId);
            read(ntId);
            //거절 알림 전송
            //window.location.reload();
        } else {
            window.focus();
        }
    }

    function approve(ntId, postId, publisherId) {
        if (confirm("참가 요청을 승인하시겠습니까?")) {
            console.log("승인했습니다.");

            sendApprove(ntId, postId, publisherId);
            read(ntId);
            //chatroom user 추가
            //window.location.reload();
        } else {
            window.focus();
        }
    }

    function notifyMe() {
        if (Notification.permission === "granted") {
            console.log("notification granted");
        } else if (Notification.permission !== "denied") {
            Notification.requestPermission();
        }
    }

    function showNotification(content, notificationType, title, ntId) {
        const notificationOptions = {
            body: notificationType + ": " + content,
            icon: "path/to/icon.png" // 사용자에게 보일 아이콘의 경로
        };

        const notification = new Notification(title, notificationOptions);

        notification.onclick = function () {
            // 알림 클릭 시 수행할 동작 설정
            //window.open("http://localhost:8080/view/users/user-login");
            window.focus();
            //사이드바 열고 알림 목록 보여주기

            notification.close();

        };
    }

    function addNotificationHTML(content, nt, title, ntId, publisherId, postId) {
        let newElement =
            `<div class="unread-notification-${ntId}">
                    <h2>title: ${title}</h2>
                    <p>content: ${content}</p>
                    <p>type: ${nt}</p>
                `;
        if (nt === "JOIN_REQUEST") {
            newElement += `<input type="button" onclick="approve(${ntId},${postId},${publisherId})" value="승인">
                                <input type="button" onclick="reject(${ntId},${postId},${publisherId})" value="거부">`
        } else {
            newElement += `<input type="button" onclick="read(${ntId})" value="닫기">`;
        }
        newElement += `</div>`;
        eventList.append(newElement);
    }

    function removeNotificationHTML(ntId) {
        const div = $(`.unread-notification-${ntId}`);
        div.remove();
    }

    function sendReject(ntId, postId, publisherId) {

        const data = {
            "postId": postId,
            "type": "REJECT_REQUEST",
            "receiverId": publisherId
        };
        //헤더에 토큰
        $.ajax({
            url: `/api/notifications`, // 요청을 보낼 서버의 URL
            method: 'POST', // 요청 메소드 (GET, POST 등)
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                alert("전송 완료");

            },
            error: function (xhr, status, error) {
                alert("저장 실패")
                console.log(xhr);
            }
        });
    }

    function sendApprove(ntId, postId, publisherId) {
        console.log("승인 전송");
        const data = {
            "postId": postId,
            "userId": publisherId
        };
        //승인 알림 전송
        $.ajax({
            url: `/api/chatRoom/join`, // 요청을 보낼 서버의 URL
            method: 'POST', // 요청 메소드 (GET, POST 등)
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                alert("전송 완료");

            },
            error: function (xhr, status, error) {
                alert("저장 실패")
                console.log(xhr);
            }
        });
    }

    function showMyNotification() {
        $.ajax({
            url: `/api/notifications`, // 요청을 보낼 서버의 URL
            method: 'GET', // 요청 메소드 (GET, POST 등)
            contentType: "application/json",
            success: function (data) {
                data.forEach(notification => {
                    console.log(notification);
                    ntId = notification.id;
                    const nt = notification.notificationType;
                    const title = notification.title;
                    const content = notification.content;
                    // e.lastEventId = ntId;

                    if (nt !== "MAKE_CONNECTION") {
                        const publisherId = notification.userId;
                        const postId = notification.postId;
                        console.log("ntId: " + ntId);
                        console.log("publisherId: " + publisherId);
                        console.log("postId: " + postId);
                        addNotificationHTML(content, nt, title, ntId, publisherId, postId);
                    }
                });
            },
            error: function (xhr, status, error) {
                alert("조회 실패")
                console.log(xhr);
            }
        });
    }
</script>

</html>