<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Jquery, Cookie, sidebarCSS-->
    <th:block th:replace="~{fragments/sidebar::common-header}"></th:block>
    <title>willu</title>
    <style>
        #createPostButton {
            background-color: #FF731D;
            color: #fff; /* 버튼 텍스트 색상 (예: 흰색) */
            border: none; /* 테두리 없음 */
            padding: 10px 20px; /* 내부 여백 설정 */
            cursor: pointer; /* 커서 스타일을 포인터로 변경하여 클릭 가능하도록 함 */
            margin-left: 20px;
            border-radius: 5px;
        }


        .postbox {
            display: flex; /* 요소들을 가로로 배치하기 위한 설정 */
            flex-direction: row; /* 가로로 배치 (기본값은 row이므로 생략 가능) */
            /*justify-content: space-between; !* 요소들을 좌우로 분산 배치 *!*/
            align-items: center; /* 요소들을 수직 가운데 정렬 */
            justify-content: center;
        }

        #posts {
            width: 1100px;
            height: 600px;
            margin: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        }

        #category {
            width: 300px;
            height: 600px;
            /*margin: 50px;*/
            padding: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        a:hover {
            color: #f00;
        }

        #sideBarDiv {
            width: 200px;
            height: 100%;
        }

        .nav-list {
            display: flex; /* 요소들을 가로로 배치하기 위한 설정 */
            flex-direction: row; /* 가로로 배치 (기본값은 row이므로 생략 가능) */
            justify-content: space-between; /* 요소들을 좌우로 분산 배치 */
            align-items: center; /* 요소들을 수직 가운데 정렬 */
            margin-top: 40px;
        }

        .table a {
            text-decoration: none; /* 밑줄 제거 */
            color: inherit; /* 기본 텍스트 색상으로 설정 */
        }

        .large {
            counter-reset: list-counter;
            list-style: none;
            float: left;
        }

        .large li {
            margin: 1.5em 0;
            line-height: 1em
        }

    </style>

</head>

<body>
<div id="headerDiv" th:insert="~{fragments/sidebar::header}"></div>
<div id="sideBarDiv" th:insert="~{fragments/sidebar::sidebarFragment}"></div>
<div class="postbox">
    <div id="posts">
        <div class="container my-3">
            <table class="table caption-top">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">제목</th>
                    <th scope="col">모집상황</th>
                    <th scope="col">모집여부</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>게시글 제목</td>
                    <td>2/5</td>
                    <td>모집중/모집완료</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--        추가한 내용-->
        <nav aria-label="Page navigation example">
            <ul class="pagination" id="pagination">
                <li class="page-item" id="page-item1">
                </li>
                <li class="page-item" id="page-item2">
                </li>

                <!--                노드 들어갈곳-->

                <li class="page-item" id="page-item3">
                </li>
                <li class="page-item" id="page-item4">
                </li>
            </ul>
        </nav>

        <div class="nav-list">
            <form id="searchForm">
                <select id="criteria">
                    <option value="title">제목</option>
                    <option value="username">작성자</option>
                    <option value="content">내용</option>
                </select>
                <input type="text" id="keyword" placeholder="검색어">
                <input type="checkbox" id="recruitment"> 모집 중인 게시글만
                <button type="submit">검색</button>
            </form>
            <button id="createPostButton">글 작성</button>
        </div>
    </div>

    <div id="category">
        <h5>관심사별 모아보기✨</h5>
        <hr>
        <ul class="large">
            <li>운동</li>
            <li>커뮤니케이션</li>
            <li>게임</li>
            <li>문화생활</li>
            <li>자기개발</li>
            <li>동물</li>
            <li>맛집투어</li>
            <li>기타</li>
        </ul>
    </div>

</div>
</body>
<script>
    $(document).ready(function () {
        // 게시글 필터 조회
        $("#searchForm").submit(function (event) {
            event.preventDefault(); // 폼 제출 기본 동작 방지

            var keyword = $("#keyword").val();
            var criteria = $("#criteria").val();
            var recruitment = $("#recruitment").is(":checked");

            $.ajax({
                url: "/api/search/posts",
                type: "GET",
                data: {
                    keyword: keyword,
                    criteria: criteria,
                    recruitment: recruitment
                },
                success: function (response) {
                    // 검색 결과를 화면에 표시
                    var tableBody = $('.table tbody');
                    tableBody.empty();
                    console.log("검색 response : " + response)
                    response.content.forEach(function (post) {

                        console.log(post);

                        $.ajax({    //게시글 전체 조회
                            url: `/api/chat/chatRooms/${post.id}/users`,
                            type: 'GET',
                            contentType: 'application/json',
                            success: function (response) {
                                var newRow = $('<tr>'); // 새로운 행 생성
                                var idCell = $('<th scope="row">').text(post.id);
                                var titleCell = $('<td>').append($('<a>').attr('href', '/posts/' + post.id).text(post.title));

                                var maxnumCell = $('<td>').text(response.chatRoomList.length + "/" + post.maxnum);
                                // recruitment 값을 긍정 또는 부정으로 변환
                                var recruitmentText = post.recruitment ? "모집중" : "모집완료🎉";
                                var recruitmentCell = $('<td>').text(recruitmentText);
                                // 행에 셀들을 추가
                                newRow.append(idCell, titleCell, maxnumCell, recruitmentCell);
                                tableBody.append(newRow);
                            },
                            error: function (xhr, status, error) {
                                //alert("채팅방 유저 정보 불러오기 실패")
                                // window.location.href = "/view/users/user-login";
                            }
                        });
                    });
                },
                error: function (xhr, status, error) {
                    alert("검색 실패")
                    // window.location.href = "/";
                }
            });
        });

        $.ajax({    //게시글 전체 조회
            url: `/api/posts?page=0&size=10`,
            type: 'GET',
            contentType: 'application/json',
            success: function (response) {

                nodeCreate(response.totalPages, response.number, response.first, response.last);

                console.log("postResponse값 :", response);
                var tableBody = $('.table tbody');
                tableBody.empty();

                response.content.forEach(function (post) {//게시글 불러오기

                    $.ajax({    //게시글 전체 조회
                        url: `/api/chat/chatRooms/${post.id}/users`,
                        type: 'GET',
                        contentType: 'application/json',
                        success: function (response) {
                            var newRow = $('<tr>'); // 새로운 행 생성
                            var idCell = $('<th scope="row">').text(post.id);
                            var titleCell = $('<td>').append($('<a>').attr('href', '/posts/' + post.id).text(post.title));

                            var maxnumCell = $('<td>').text(response.chatRoomList.length + "/" + post.maxnum);

                            // recruitment 값을 긍정 또는 부정으로 변환
                            var recruitmentText = post.recruitment ? "모집중" : "모집완료🎉";
                            var recruitmentCell = $('<td>').text(recruitmentText);
                            // 행에 셀들을 추가
                            newRow.append(idCell, titleCell, maxnumCell, recruitmentCell);
                            tableBody.append(newRow);

                        },
                        error: function (xhr, status, error) {
                            alert("채팅방 유저 정보 불러오기 실패")
                            // window.location.href = "/view/users/user-login";
                        }
                    });
                });
            },
            error: function (xhr, status, error) {
                window.location.href = "/login";
            }
        });

    });
    document.getElementById("createPostButton").addEventListener("click", function () {
        window.location.href = "/post/create";
    });

    function nodeCreate(totalPages, number) {

        if (number === 0) {
            // 첫페이지 일때
            $(`
                <a class="page-link" onclick="chPost(${totalPages - 1})" aria-label="Last">
                    <span aria-hidden="true">▶▶</span>
                </a>
            `).prependTo(`#page-item4`);

            $(`
                    <a class="page-link" onclick="chPost(${1})" aria-label="Next">
                        <span aria-hidden="true">▶</span>
                    </a>
            `).prependTo(`#page-item3`);

        } else if (number === totalPages - 1) {
            $(`
                <a class="page-link" onclick="chPost(${number - 1})" aria-label="Previous">
                    <span aria-hidden="true">◀</span>
                </a>
            `).prependTo(`#page-item2`);

            $(`
                <a class="page-link" onclick="chPost(${0})" aria-label="First">
                    <span aria-hidden="true">◀◀</span>
                </a>
            `).prependTo(`#page-item1`);

        } else {
            $(`
                <a class="page-link" onclick="chPost(${0})" aria-label="First">
                    <span aria-hidden="true">◀◀</span>
                </a>
            `).prependTo(`#page-item1`);

            $(`
                <a class="page-link" onclick="chPost(${number - 1})" aria-label="Previous">
                    <span aria-hidden="true">◀</span>
                </a>
            `).prependTo(`#page-item2`);

            $(`
                    <a class="page-link" onclick="chPost(${number + 1})" aria-label="Next">
                        <span aria-hidden="true">▶</span>
                    </a>
            `).prependTo(`#page-item3`);

            $(`
                <a class="page-link" onclick="chPost(${totalPages - 1})" aria-label="Last">
                    <span aria-hidden="true">▶▶</span>
                </a>
            `).prependTo(`#page-item4`);
        }
        // 중간 페이지 버튼을 만듭니다.
        var start = Math.max(0, number - 4);
        var end = Math.min(totalPages - 1, number + 4);

        for (var i = start; i <= end; i++) {
            var pageButton = $(`<li class="page-item" id="page-${i}"><a class="page-link" onclick="chPost(${i})">${i + 1}</a></li>`);
            if (i === number) {
                pageButton.addClass('active');
            }
            pageButton.insertBefore(`#page-item3`);
        }
    }

    function chPost(i) {
        $.ajax({
            url: `/api/posts?page=${i}&size=10`,
            type: 'GET',
            contentType: 'application/json',
            success: function (response) {
                $('#page-item1').empty();
                $('#page-item2').empty();
                $('#page-item3').empty();
                $('#page-item4').empty();
                $('#pagination').find($(`li[id^='page-']`)).empty();

                nodeCreate(response.totalPages, response.number);

                console.log("postResponse값 :", response);
                var tableBody = $('.table tbody');
                tableBody.empty();

                response.content.forEach(function (post) {
                    $.ajax({
                        url: `/api/chat/chatRooms/${post.id}/users`,
                        type: 'GET',
                        contentType: 'application/json',
                        success: function (response) {
                            var newRow = $('<tr>');
                            var idCell = $('<th scope="row">').text(post.id);
                            var titleCell = $('<td>').append($('<a>').attr('href', '/posts/' + post.id).text(post.title));
                            var maxnumCell = $('<td>').text(response.chatRoomList.length + "/" + post.maxnum);

                            var recruitmentText = post.recruitment ? "모집중" : "모집완료🎉";
                            var recruitmentCell = $('<td>').text(recruitmentText);

                            newRow.append(idCell, titleCell, maxnumCell, recruitmentCell);
                            tableBody.append(newRow);
                        },
                        error: function (xhr, status, error) {
                            alert("채팅방 유저 정보 불러오기 실패");
                        }
                    });
                });
            },
            error: function (xhr, status, error) {
                // Handle error
            }
        });
    }
</script>
</html>
